# Exemple d’URL de l’API Railway pour le frontend Next.js
NEXT_PUBLIC_API_URL=https://votre-api-railway-production-url/api

# Cognito Hosted UI (social login)
# Exemple : https://f1yzj1.auth.eu-west-1.amazoncognito.com
NEXT_PUBLIC_AWS_COGNITO_DOMAIN=

# Redirects Hosted UI
# PROD: https://sky-play-platform.vercel.app/auth/callback
# DEV : http://localhost:3000/auth/callback
NEXT_PUBLIC_AWS_COGNITO_REDIRECT_SIGN_IN=http://localhost:3000/auth/callback
NEXT_PUBLIC_AWS_COGNITO_REDIRECT_SIGN_OUT=http://localhost:3000/

# Cognito User Pool
NEXT_PUBLIC_AWS_COGNITO_REGION=eu-west-1
NEXT_PUBLIC_AWS_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_AWS_COGNITO_CLIENT_ID=